<h2>Available Games</h2>
<hr  />

<% @games.each do |game| %>
  <% if game.open_seat? %>
    <p>
      <%= link_to game.name, game_path(game) %> -
      <%= link_to 'Join Game', '#' %>
    </p>
  <% end %>
<% end %>
