<h2>Available Games</h2>
<hr  />

<% @games.each do |game| %>
    <!-- Button trigger modal -->
    <p>
      <button type="button" class="" data-toggle="modal" data-target="#myModal">
        <%= game.name %>
      </button>
    </p>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Join Game</h4>
          </div>
          <%= simple_form_for game do |f| %>
            <div class="modal-body">
              <br  />
              <p>
                Add Avatar and game maker stats here later...
              </p>
              <br  />
            </div>
            <div class="modal-footer">
              <%= f.submit 'Join' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
