<!-- Passes the current page title to application.html.erb -->
<%= content_for :page_title, @game.name %>

<!-- Passing data to javascript from rails -->
<div data-pageid="<%= @game.id %>", id="railsVariables"></div>
<!-- <h1><%= @game.name %></h1>
     <h2><%= @game.inspect %></h2> -->

<!-- Even though the divs are indented, ruby will indent
     them back to the left -->
<div class="chessgame-container">
  <div class="game-bar">
  </div>

  <table class="chessboard" id="chessBoard">
    <tbody>
      <tr>
        <td class="chess-light-square" id="row0col0">
          <div class="chess-piece" id="rookWhite"></div>
        </td>
        <td class="chess-dark-square" id="row0col1">
          <div class="chess-piece" id="knightWhite"></div>
        </td>
        <td class="chess-light-square" id="row0col2">
          <div class="chess-piece" id="bishopWhite"></div>
        </td>
        <td class="chess-dark-square" id="row0col3">
          <div class="chess-piece" id="kingWhite"></div>
        </td>
        <td class="chess-light-square" id="row0col4">
          <div class="chess-piece" id="queenWhite"></div>
        </td>
        <td class="chess-dark-square" id="row0col5">
          <div class="chess-piece" id="bishopWhite"></div>
        </td>
        <td class="chess-light-square" id="row0col6">
          <div class="chess-piece" id="knightWhite"></div>
        </td>
        <td class="chess-dark-square" id="row0col7">
          <div class="chess-piece" id="rookWhite"></div>
        </td>
      </tr>
      <tr>
        <td class="chess-dark-square" id="row1col0">
          <div class="chess-piece" id="pawnWhite"></div>
        </td>
        <td class="chess-light-square" id="row1col1">
          <div class="chess-piece" id="pawnWhite"></div>
        </td>
        <td class="chess-dark-square" id="row1col2">
          <div class="chess-piece" id="pawnWhite"></div>
        </td>
        <td class="chess-light-square" id="row1col3">
          <div class="chess-piece" id="pawnWhite"></div>
        </td>
        <td class="chess-dark-square" id="row1col4">
          <div class="chess-piece" id="pawnWhite"></div>
        </td>
        <td class="chess-light-square" id="row1col5">
          <div class="chess-piece" id="pawnWhite"></div>
        </td>
        <td class="chess-dark-square" id="row1col6">
          <div class="chess-piece" id="pawnWhite"></div>
        </td>
        <td class="chess-light-square" id="row1col7">
          <div class="chess-piece" id="pawnWhite"></div>
        </td>
      </tr>
      <tr>
        <td class="chess-light-square" id="row2col0"></td>
        <td class="chess-dark-square" id="row2col1"></td>
        <td class="chess-light-square" id="row2col2"></td>
        <td class="chess-dark-square" id="row2col3"></td>
        <td class="chess-light-square" id="row2col4"></td>
        <td class="chess-dark-square" id="row2col5"></td>
        <td class="chess-light-square" id="row2col6"></td>
        <td class="chess-dark-square" id="row2col7"></td>
      </tr>
      <tr>
        <td class="chess-dark-square" id="row3col0"></td>
        <td class="chess-light-square" id="row3col1"></td>
        <td class="chess-dark-square" id="row3col2"></td>
        <td class="chess-light-square" id="row3col3"></td>
        <td class="chess-dark-square" id="row3col4"></td>
        <td class="chess-light-square" id="row3col5"></td>
        <td class="chess-dark-square" id="row3col6"></td>
        <td class="chess-light-square" id="row3col7"></td>
      </tr>
      <tr>
        <td class="chess-light-square" id="row4col0"></td>
        <td class="chess-dark-square" id="row4col1"></td>
        <td class="chess-light-square" id="row4col2"></td>
        <td class="chess-dark-square" id="row4col3"></td>
        <td class="chess-light-square" id="row4col4"></td>
        <td class="chess-dark-square" id="row4col5"></td>
        <td class="chess-light-square" id="row4col6"></td>
        <td class="chess-dark-square" id="row4col7"></td>
      </tr>
      <tr>
        <td class="chess-dark-square" id="row5col0"></td>
        <td class="chess-light-square" id="row5col1"></td>
        <td class="chess-dark-square" id="row5col2"></td>
        <td class="chess-light-square" id="row5col3"></td>
        <td class="chess-dark-square" id="row5col4"></td>
        <td class="chess-light-square" id="row5col5"></td>
        <td class="chess-dark-square" id="row5col6"></td>
        <td class="chess-light-square" id="row5col7"></td>
      </tr>
      <tr>
        <td class="chess-light-square" id="row6col0">
          <div class="chess-piece" id="pawnBlack"></div>
        </td>
        <td class="chess-dark-square" id="row6col1">
          <div class="chess-piece" id="pawnBlack"></div>
        </td>
        <td class="chess-light-square" id="row6col2">
          <div class="chess-piece" id="pawnBlack"></div>
        </td>
        <td class="chess-dark-square" id="row6col3">
          <div class="chess-piece" id="pawnBlack"></div>
        </td>
        <td class="chess-light-square" id="row6col4">
          <div class="chess-piece" id="pawnBlack"></div>
        </td>
        <td class="chess-dark-square" id="row6col5">
          <div class="chess-piece" id="pawnBlack"></div>
        </td>
        <td class="chess-light-square" id="row6col6">
          <div class="chess-piece" id="pawnBlack"></div>
        </td>
        <td class="chess-dark-square" id="row6col7">
          <div class="chess-piece" id="pawnBlack"></div>
        </td>
      </tr>
      <tr>
        <td class="chess-dark-square" id="row7col0">
          <div class="chess-piece" id="rookBlack"></div>
        </td>
        <td class="chess-light-square" id="row7col1">
          <div class="chess-piece" id="knightBlack"></div>
        </td>
        <td class="chess-dark-square" id="row7col2">
          <div class="chess-piece" id="bishopBlack"></div>
        </td>
        <td class="chess-light-square" id="row7col3">
          <div class="chess-piece" id="kingBlack"></div>
        </td>
        <td class="chess-dark-square" id="row7col4">
          <div class="chess-piece" id="queenBlack"></div>
        </td>
        <td class="chess-light-square" id="row7col5">
          <div class="chess-piece" id="bishopBlack"></div>
        </td>
        <td class="chess-dark-square" id="row7col6">
          <div class="chess-piece" id="knightBlack"></div>
        </td>
        <td class="chess-light-square" id="row7col7">
          <div class="chess-piece" id="rookBlack"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="game-bar">
  </div>
</div>
