/* =============================================
Navbar
==============================================*/

$navbar-height: 50px;
$navbar-height-sm: 70px;
$navbar-padding: 6px;

/* =============================================
Footer
==============================================*/

$footer-height: 40px;
$footer-height-sm: 50px;
